
body {font-family: Arial;
	  color: #050505}


.entete {padding-top: 20px;	
		 padding-left: 20px;
		}
		
input {font-style: italic;
	   color: #a7a7a7;
      }
	  
/* ---------------------------

          Notice détaillée 
		  
------------------------------*/

/* Métadonnées */
div.detailed {float: left;
			  width: 80%;
			  padding-right: 20px;}
p.detailed.label {font-weight: bold;
					 color: #05513c;
					}

div.rebonds {float: right;
			width: 15%;
			background-color: #efefef;
			padding: 20px;
			border-radius: 20px;}
span.rebond {padding-left: 8px;
			 }
span.rebond a {text-decoration: none;
			   font-weight: normal;
			   color: #27735e;
			  }
span.rebond a:hover {text-decoration: underline;
			  }


/* Filtres */
.filters {width: 100%;
		  float: left;}
.filters a {text-decoration:none;}
.filters a:hover {text-decoration: underline;}

.filters .filters2 {margin-top: 10px;
					font-size: 0.9em;}
					
.filters .filters2 a {color: #801a00;}
a.filters_content_type {color: #660066;
						font-weight: bold;}
a.filters_lng {color: #000099;
			   font-weight: bold;}
			   
div.ui-rangeslider {width: 40%;}
.ui-slider-track .ui-btn.ui-slider-handle {font-size: 0.6em;}


/* Liste des exemplaires*/
.items {width: 100%;
		  float: left;}


.avail {background-color: #beff9f}
.unavail {background-color: #ffe2d7}


/* Métadonnées professionnelles*/
div.pro {padding-top: 50px;
		background-color: #efefef;
		color: #a7a7a7;
		width: 100%;
		float: left;}

.marc_record {font-family: Courier New;
			  color: #080808;
			  font-size: 0.9em;}


/*------- Liste de résultats ------------*/

a.short_result_work {text-decoration: none;
					 font-weight: bold;
					 color: #05513c;}

a.short_result_expression {text-decoration: none;
					       font-weight: bold;
					       color: #014c56;}

a.link2work {color: #5a918a;
			 text-decoration: none}

.short_result_details {margin-left: 20px;
					   font-size: 0.8em;}